mariadb:
  image: mariadb:11
  container_name: mariadb
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: flight_booking
  volumes:
    - mariadb_data:/var/lib/mysql
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  ports:
    - "3306:3306"
